In [2]:
import pandas as pd

input_path = '../data/processed/'

# Header information

In [42]:
def read_mev_headers(path):
    with open(path, 'r') as f:
        mev_header = {}
        for i in range(7):
            line = f.readline().replace('#','').strip()
            key, value = line.split(':',1)
            mev_header[key] = value.strip()
    return mev_header

In [45]:
mev_header = read_mev_headers(f'{input_path}test-mev-file.mev')
print(mev_header)

{'Version': 'V1.0', 'Date': 'Tue Apr 22 05:54:18 2008', 'Input_row_count': '4608; bad/undetected spots:1439', 'Created by': 'TIGR Spotfinder 3.1.1, Windows"', 'TIFF files processed': 'ch A- C:/Documents and Settings/Monica Medina/Desktop/Mickey/Mexico2007/19april2008/images/single/bot1 scan4 730 600_532.tif; ch B- C:/Documents and Settings/Monica Medina/Desktop/Mickey/Mexico2007/19april2008/images/single/bot1 scan4 730 600_635.tif;', 'Segmentation method': 'Otsu, Min size: 3, Max size: 100; Top bkg cutoff: 25% "', 'Post-processing settings': 'QCfilter: ON, Background correction: ON, Keep flagged values: ON, QC threshold= 1*medianBKG+1*StdDevBkg"'}

In [47]:
print(mev_header['Version'])

V1.0

# Array data

In [5]:
array_data = pd.read_csv(f'{input_path}test-mev-file.mev', sep='\t', skiprows=8) # skiprows=8 to skip the header ## potential that all mev files have the same header number of rows
display(array_data.head())

,UID,IA,IB,FeatName,R,C,MR,MC,SR,SC,...,MedA,MedB,MNA,MNB,MedBkgA,MedBkgB,X,Y,PValueA,PValueB
0,1,16742184,16440850,AOSC1103,1,1,1,1,1,1,...,38972,38475,39117,38413,136,71,62,44,0,0
1,2,4113534,3683275,AOSC403,1,2,1,1,1,2,...,10150,9190,10233,9162,128,67,111,44,0,0
2,3,3252615,3046954,AOSC477,1,3,1,1,1,3,...,8637,8255,8887,8325,140,68,160,44,0,0
3,4,4954840,4782054,AOSC568,1,4,1,1,1,4,...,12589,12395,12971,12518,138,72,209,44,0,0
4,5,2290631,1811238,AOSC658,1,5,1,1,1,5,...,7907,6287,8330,6586,145,68,258,44,0,0